model:
    name: two_view_pipeline
    extractor:
        name: extractors.sift
        detector: pycolmap_cuda
        max_num_keypoints: 2048
        detection_threshold: 0.00666666
        nms_radius: -1
        pycolmap_options:
          first_octave: -1
    matcher:
        name: matchers.nearest_neighbor_matcher
benchmarks:
    megadepth1500:
        data:
        preprocessing:
            side: long
            resize: 1600
        eval:
            estimator: opencv
            ransac_th: 0.5
    hpatches:
        eval:
            estimator: opencv
            ransac_th: 0.5
        model:
            extractor:
                max_num_keypoints: 1024  # overwrite config above
