defaults:
  - model: two_view_pipeline
  - model@model.extractor: extractor/sift
  - _self_

model:
    extractor:
        max_num_keypoints: 2048
        detection_threshold: 0.00666666
        nms_radius: -1
        pycolmap_options:
          first_octave: -1
    matcher:
        name: matchers.nearest_neighbor_matcher
benchmarks:
    megadepth1500:
        data:
        preprocessing:
            side: long
            resize: 1600
        eval:
            estimator: opencv
    hpatches:
        eval:
            estimator: opencv
        model:
            extractor:
                max_num_keypoints: 1024  # overwrite config above
